#main_scene {
  width: 1024px;
  height: 768px;
  background-size: cover;
}

#main_scene_header {
  text-align: center
}

#scene_header {
  width: 250px;
  margin-right: auto;
  margin-left: auto;
  border-top: 0px;
}

#scene_header > h3 {
  margin: 5px 0px;
}