<!DOCTYPE html>
<html>
<head>
  <title>ObedientIsland</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">

  <div class="row">
    <a href="/">
      <div class="bordered_box_gray col-md-3" >
        <h1 id="main_header">Obedient Island</h1>
      </div>
    </a>
  </div>

  <div class="row">
    <%= yield %>
  </div>

</div>
</body>
</html>
